---
interface AboutItem {
    image: string;
    alt: string;
    pointNumber: number;
    pointTitle: string;
    text: string;
}

const { title, subtitle ,items } = Astro.props as {
    title: string;
    subtitle:string;
    items: AboutItem[];
};
---

<section id="about" class="about__section l-wrapper pt-4 pb-6 sm:pt-10 sm:pb-0">
    <div class="about__container l-container-full">
        <p class="text-center color-text-sub font-bold en">{subtitle}</p>
        <h2 class="text-center">
            {title}
        </h2>
        {
            items.map((item, index) => (
                <div class="about__item l-inner l-row pt-4 sm:px-0">
                        <div class="item__text l-col py-20 px-0 mt-6 sm:py-5 sm:px-5 sm:mt-4">
                            <p class="lead font-bold mb-8 multi-line-text sm:normal">{item.pointTitle}</p>
                            <p class="desc">{item.text}</p>
                        </div>
                        <div class="l-col">
                            <img src={item.image} alt={item.alt} class="item__img block mb-8 sm:mb-0" />
                        </div>
                </div>
            ))
        }
    </div>
</section>

<style>
    .about__container>p{
        font-size: 20px;
    }

    .about__section h2 {
        font-weight: var(--font-weight-bold);
    }

    /* セクションアイテムの共通スタイル */
    .about__item {
        width: 100%;
        height: auto;
        gap:16%;
    }

    .item__img {
        object-fit: cover;
        border-radius: 50px;
    }

    .item__text {
        width: 40%;
        line-height: 1.7;
    }

    .lead {
        font-size: var(--font-size-lg);
    }

    .desc{
        font-size: 15px;
    }

@media screen and (max-width: 767px) {
    .about__container>p{
        font-size: 1rem;
    }
    .about__section h2 {
        font-size: var(--font-size-lg);
    }
    .about__item{
        position:relative;
        gap: 0;
    }
    .item__img {
        width:100%;
        max-height:545px ;
        border-radius:0;
    }

    .item__text{
        position:absolute;
        top:5%;
        left: 5%;
        width: 90%;
        background-color: #fff;
        opacity: 80%;
        border-radius: 28px;
    }
    .lead {
        margin-bottom: 1rem;
        font-size: 18px;
    }
}
</style>
