---
interface AboutItem {
    image: string;
    alt: string;
    pointNumber: number;
    pointTitle: string;
    text: string;
}

const { title, subtitle ,items } = Astro.props as {
    title: string;
    subtitle:string;
    items: AboutItem[];
};
---

<section id="about" class="about__section l-wrapper">
    <div class="about__container l-container-full">
        <p class="text-center color-text-sub font-bold en">{subtitle}</p>
        <h2 class="text-center">
            {title}
        </h2>
        {
            items.map((item, index) => (
                <div class="about__item l-inner l-row">
                        <div class="item__text l-col">
                            <p class="lead font-bold mb-8">{item.pointTitle}</p>
                            <p class="desc">{item.text}</p>
                    </div>
                    <img src={item.image} alt={item.alt} class="item__img block l-col" />
                </div>
            ))
        }
    </div>
</section>

<style>
    /* === デバッグ用各要素アウトライン === */
    * {
        outline: 1px solid red;
    }
    .about__container{
        padding:var(--spacing-xl) 0;
    }

    .about__container>p{
        font-size: 20px;
    }

    .about__section h2 {
        font-weight: var(--font-weight-bold);
    }

    /* セクションアイテムの共通スタイル */
    .about__item {
        width: 100%;
        gap:20%;
        padding: 0;
    }

    .item__img {
        width:40%;
        object-fit: cover;
        border-radius: 50px;
    }

    .item__text {
        width: 40%;
        padding-top:10%;
    }

    .lead {
        font-size: var(--font-size-lg);
    }

@media screen and (max-width: 767px) {
    .about__item{
        position:relative;
        gap: 0;
    }
    .item__img {
        width:100%;
        border-radius:0;
    }

    .item__text{
        position:absolute;
        top:5%;
        left: 5%;
        width: 90%;
        background-color: #fff;
        opacity: 80%;
        padding: 2rem 1.5rem;
        border-radius: 28px;
    }
    .lead {
        margin-bottom: 1rem;
        font-size: 18px;
    }
    .desc{
        font-size:var(--font-size-sm) ;
    }
}
</style>
