---
interface AboutItem {
    image: string;
    alt: string;
    pointNumber: number;
    pointTitle: string;
    text: string;
}

const { title, items } = Astro.props as {
    title: string;
    items: AboutItem[];
};
---

<section id="about" class="about__section l-wrapper">
    <div class="about__container l-container-full">
        <h2 class="text-center">
            {title}
        </h2>
        {
            items.map((item, index) => (
                <div class="about__item l-inner l-row">
                    <div class="item__text l-col">
                        <p class="lead font-bold mb-8">{item.pointTitle}</p>
                        <p>{item.text}</p>
                    </div>
                    <img src={item.image} alt={item.alt} class="item__img block l-col" />
                </div>
            ))
        }
    </div>
</section>

<style>

    .about__container{
        padding:var(--spacing-xl) 0;
    }

    .about__section h2 {
        font-size: var(--font-size-lg2);
        font-weight: var(--font-weight-bold);
    }

    /* セクションアイテムの共通スタイル */
    .about__item {
        width: 100%;
        gap:20%;
        padding: 0;
    }

    .item__img {
        width:40%;
        object-fit: cover;
        border-radius: 50px;
    }

    .item__text {
        width: 40%;
        padding-top:10%;
    }

    .lead {
        font-size: var(--font-size-lg);
    }

    @media screen and (max-width: 767px) {
        .about__section {
            background-color: #fff;
        }
        .about__item {
            gap: 1.5rem;
            margin: auto;
        }

        /*奇数番目のカードの左右反転を戻す */
        .reverse {
            flex-direction: column-reverse;
        }

        .item__text {
            max-width: 100%;
            padding-inline: 1rem;
        }

        .about__section h3 {
            font-size: 1.5rem;
        }

        .about__section h3 span {
            font-size: 1.875rem;
        }

        .item__img {
            width: 100%;
        }
    }
</style>
