---
// Astroのレイアウトファイル：全ページ共通の土台になる
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { siteDataType } from '../types/siteData';
import '../styles/style.css';

const siteData: siteDataType = {
    siteName: import.meta.env.PUBLIC_SITENAME,
    siteUrl: import.meta.env.PUBLIC_ENVURL,
    pageName: Astro.props.pageName,
    title: Astro.props.title,
    description: Astro.props.description,
    ogpImage: Astro.props.ogpImage,
    type: Astro.props.type,
    path: Astro.props.path,
    ldJSON: {
        '@context': 'http://schema.org',
        '@type': 'BreadcrumbList',
        itemListElement: Astro.props.ldJSON
    }
};

const { currentPath, ...otherProps } = Astro.props;
---

<!doctype html>
<html lang="ja" data-theme="light">
    <head>
        <!-- meta情報 -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--ページタイトル-->
        <title>{siteData.title}</title>

        <!-- ページ個別メタデータ -->
        <meta name="description" content={siteData.description} />
        <meta property="og:title" content={siteData.title} />
        <meta property="og:description" content={siteData.description} />
        <meta property="og:type" content={siteData.type} />
        <meta property="og:url" content={`${siteData.siteUrl}${siteData.path}`} />
        <meta property="og:image" content={`${siteData.siteUrl}${siteData.ogpImage}`} />
        <meta property="og:site_name" content={siteData.siteName} />

        <!-- 外部フォント-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <!-- Noto Sans JP -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <!-- Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- ライブラリのcss/publicから読み込み -->
        <link rel="stylesheet" href="/assets/style/slick.css" />
        <link rel="stylesheet" href="/assets/style/slick-theme.css" />
    </head>

    <body class="has-fixed-header">
        <Header currentPath={currentPath}/>

        <main>
            <slot />
        </main>

        <Footer />

        <!-- jQuery & Slick（CDNまたはpublicからの外部ファイル） -->
        <script is:inline src="/assets/scripts/libs/jquery-3.7.1.min.js"></script>
        <script is:inline src="/assets/scripts/libs/slick.min.js"></script>

        <!-- 各jsを初期化するmain.jsの読み込み -->
        <script type="module" src="/assets/scripts/ui/main.js"></script>
    </body>
</html>
